<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table>
    <tr>
        <th>name</th>
        <th>capital</th>
        <th>region</th>
        <th>lat</th>
        <th>long</th>
        <th>population</th>
        <th>alpha3Code</th>
    </tr>
    {% for row in parsed %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.capital }}</td>
            <td>{{ row.region }}</td>
            <td>{{ row.lat }}</td>
            <td>{{ row.long }}</td>
            <td>{{ row.population }}</td>
            <td>{{ row.alpha3Code }}</td>
        </tr>
    {% endfor %}

</table>
</body>
</html>
